// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Shades of brown
$brown-100: #D6C8B6;
$brown-200: #B7A99D;
$brown-300: #998A83;
$brown-400: #7B6B69;
$brown-500: #5D4C4F;

// Shades of green
$green-100: #D5E5CC;
$green-200: #B7D7AE;
$green-300: #99C98F;
$green-400: #7BBB71;
$green-500: #5DAD52;

// Shades of tan
$tan-100: #F3EFE4;
$tan-100-difuse: #f3efe4bf;
$tan-200: #E1D9C9;
$tan-200-difuse: #e1d9c9a1;
$tan-300: #CFC2AE;
$tan-300-difuse: #cfc2ae79;
$tan-400: #BDAB92;
$tan-500: #AB9477;
$tan-500-difuse: #ab947778;

// Accent color - gold / silver / bronce
$accent-color-gold: #FFD700;
$accent-color-bronce: #CD7F32;
$accent-color-silver: #C0C0C0;

// // // // // // // // // // // // // // // // //
// IMAGE HOME PALETTE //

/* SCSS HEX */
$byzantium: #7C3972ff;
$byzantium-var: rgb(147, 60, 134);
$plum: #7F3F73ff;
$chinese-violet: #6D5A73ff;
$space-cadet-var: rgba(45, 47, 73, 0.90);
$space-cadet: #2D2F49ff;
$slate-gray: #718B95ff;
$slate-gray-difuse: rgba(113, 139, 149, 0.8);
$light-blue: #B1C9CEff;
$charcoal: #364456ff;
$raisin-black: #272A3Bff;
$eggplant: #62475Dff;
$eggplant-difuse: hsla(311, 16%, 33%, 0.25);

/* SCSS Gradient */
$gradient-top: linear-gradient(to top, #718B95ff, #364456ff, #272A3Bff, #62475Dff);
$gradient-right: linear-gradient(to right, rgba(45, 47, 73, 0.9), rgba(54, 68, 86, 0.9), rgba(39, 42, 59, 0.9));
$gradient-bottom: linear-gradient(to bottom, #7C3972ff, #7F3F73ff, #6D5A73ff, #2D2F49ff, #718B95ff, #B1C9CEff, #364456ff, #272A3Bff, #62475Dff);
$gradient-left: linear-gradient(270deg, #7C3972ff, #7F3F73ff, #6D5A73ff, #2D2F49ff, #718B95ff, #B1C9CEff, #364456ff, #272A3Bff, #62475Dff);
$gradient-top-right: linear-gradient(45deg, #7C3972ff, #7F3F73ff, #6D5A73ff, #2D2F49ff, #718B95ff, #B1C9CEff, #364456ff, #272A3Bff, #62475Dff);
$gradient-bottom-right: linear-gradient(135deg, #7C3972ff, #7F3F73ff, #6D5A73ff, #2D2F49ff, #718B95ff, #B1C9CEff, #364456ff, #272A3Bff, #62475Dff);
$gradient-top-left: linear-gradient(225deg, #7C3972ff, #7F3F73ff, #6D5A73ff, #2D2F49ff, #718B95ff, #B1C9CEff, #364456ff, #272A3Bff, #62475Dff);
$gradient-bottom-left: linear-gradient(315deg, #7C3972ff, #7F3F73ff, #6D5A73ff, #2D2F49ff, #718B95ff, #B1C9CEff, #364456ff, #272A3Bff, #62475Dff);
$gradient-radial: radial-gradient(#7C3972ff, #7F3F73ff, #6D5A73ff, #2D2F49ff, #718B95ff, #B1C9CEff, #364456ff, #272A3Bff, #62475Dff);
