.campaign-show-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12cbe8a4-f55c-4b40-85bb-d8e1405e7b84/davv7gx-93b2ca3c-709b-40ee-9578-33eb6b2d2847.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEyY2JlOGE0LWY1NWMtNGI0MC04NWJiLWQ4ZTE0MDVlN2I4NFwvZGF2djdneC05M2IyY2EzYy03MDliLTQwZWUtOTU3OC0zM2ViNmIyZDI4NDcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CW30npr2fpQ8NaVjm544amIGAPEtrH7ocuV6VUbh2XY');
  background-size: cover;
  background-position: center;
  padding: 10px;

  .home-button{
    margin-bottom: 10px;
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
  }

  .description-container{
    display: flex;
    justify-content: center;
    width: 100%;

    .description{
      width: 100%;
      p {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }

  .all-information{
    margin-bottom: 10px;
    width: 60%;
    background-color: $tan-300-difuse;
    border-bottom: 5px solid $eggplant;
    border-right: 5px solid $eggplant;
    border-left: 5px solid $eggplant;
    // border-top-left-radius: 15px;
    // border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.campaign-card{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  a{
    width: 100%;
  }
  .card-image{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    width: 100%;
    height: 350px;
    background-position: 50% 45%;
    background-size: cover;
    box-shadow: 0px 0px 10px;
    // border: 5px solid $eggplant;
    // border: 10px solid $eggplant;

    h1 {
      margin: 5px;
    }

    .card-header{
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: $eggplant-difuse;
      backdrop-filter: blur(5px);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    .under-construction{
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: rgb(0, 0, 0);
      color: red;
      backdrop-filter: blur(5px);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }

  .card-image:hover {
    // opacity: 0.7;
    transform: scale(1.15);
  }
  a {
    text-decoration: none; /* removes underline */
    color: inherit; /* inherits color from parent */
    border: none; /* removes any default border */
    outline: none; /* removes focus outline */
  }
}

.campaign-show-title {
  background-color: $tan-300-difuse;
  border-top: 5px solid $eggplant;
  border-right: 5px solid $eggplant;
  border-left: 5px solid $eggplant;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 60%;
  padding: 20px;

  h2 {
    padding: 5px;
    background-color: $eggplant;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    padding: 15px;
    background-color: $tan-100;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
