.character-show-container {
  flex-grow: 1;
  padding: 20px;
  background-color: $brown-500;
  position: relative;
  padding: 50px;
  background-image: url('https://thumbs.gfycat.com/MarvelousImaginaryKoala-size_restricted.gif');
  background-size: cover;
  background-repeat: no-repeat;

  .character-main-title {
    font-size: 48px;
    margin: 10px;
    margin-bottom: 0;
    background-color: $eggplant;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    color: white;
  }

  .character-main-container {
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(3px);
    border: 2px solid $eggplant;
    margin: 10px;
    margin-top: 0px;
    background-color: $tan-300-difuse;
  }

  .first-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .character-image {
      padding: 20px;

      img {
        border-radius: 20px;
        border: 10px solid $eggplant;
        height: 350px;
        width: 350px;
        // box-shadow: 0 0px 40px 15px black;
      }
    }
  }

  // .box-shadow {
  //   border-top-left-radius: 20px;
  //   border-top-right-radius: 20px;
  //   box-shadow: 0 0px 40px 15px black;
  // }

  .info-header {
    background-color: $eggplant;
    color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .card-body {
    background-color: $tan-100;
    padding: 20px;
  }

  .basic-info {
    padding: 20px;
  }

  .info-body {
    display: flex;
  }

  .appearance-info {
    padding: 20px;
    width: 23%;
  }

  .stats-info {
    padding: 20px;
    width: 23%;
  }

  .other-info {
    padding: 20px;
    margin: 10px;
  }
}

.btns-container {
  display: flex;
  justify-content: space-between;

  .home-button {
    flex-grow: 0;
    width: 33%;
    text-align: center;
    margin: 10px;
  }

  form{
    background: none;
    width: 33%;
    padding: 0;
    margin: 0;
  }

  .x{
    width: 100%;
  }
}
