.character-show {
  padding: 20px;
  background-color: $brown-500;
  position: relative;
  padding: 50px;
  background-image: url('https://thumbs.gfycat.com/MarvelousImaginaryKoala-size_restricted.gif');
  background-size: cover;
  background-repeat: no-repeat;

  .character-main-title {
    font-size: 48px;
    margin-bottom: 20px;
    background-color: $raisin-black;
    align-items: center;
    border-radius: 20px;
    border: 2px solid $eggplant;
    text-align: center;
    color: $slate-gray;
  }

  .character-main-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .first-info {
    display: flex;
    flex-wrap: wrap;

    .character-image {
      padding: 20px;

      img {
        border-radius: 20px;
      }
    }
  }

  .info-header {
    background-color: #4d4d4d;
    color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  .card-body {
    background-color: $tan-100;
    padding: 20px;
  }


  .basic-info {
    padding: 20px;
  }


  .second-info {
    padding: 20px;
  }

  .information-card {
    margin: 10px;
  }
}
