.character-show {
  padding: 20px;

  .card {
    margin-bottom: 20px;
  }

  .card-header {
    background-color: #4d4d4d;
    color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  .card-body {
    padding: 20px;
  }

  .card p {
    margin: 0;
    line-height: 1.5;
  }

  .text-center {
    text-align: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (max-width: 767px) {
    .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

}
