// DICE ROLLER

.dice-page-container{
  display: flex;
  justify-content: center;
  background-image: url('https://64.media.tumblr.com/aa2de240c7d3ad098645f29e1f8fe17c/tumblr_obylzfWQ4F1qbw2q1o1_1280.gifv');
  background-size: cover;
  background-repeat: no-repeat;
}

.dice-roller {
  width: 80%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.dice-block {
  width: 45%;
  border: 3px solid $byzantium;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  background-color: $space-cadet-var;
  color: $light-blue;

  .form-label {
    background-color: $raisin-black;
    padding: 5px;
    border: 1px solid $byzantium;
  }

  input {
    width: 60px;
    height: 40px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  button {
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 4px;
    border-color: black;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: all 2s;

    &:active {
      background-color: white;
      color: #ff6c27;
      transition: none;
    }

    &.undo-clear {
      display: none;
    }
  }
}

.log-block {
  width: 40%;
  height: 80%;
  padding: 10px;
  margin: 5px;
  border: 3px solid $byzantium;
  border-radius: 4px;
  overflow: auto;
  background-color: $space-cadet-var;
  color: $light-blue;
  font-size:x-large;

  #log {
    height: 100vh;
  }
}


@media only screen and (max-width: 768px) {
  .dice-roller {
    flex-direction: column;
  }

  .dice-block {
    width: 100%;
  }
}
