.encounter-show-container{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12cbe8a4-f55c-4b40-85bb-d8e1405e7b84/d9spnlx-ae6275b7-863e-4d5d-8289-2aa14fb53f48.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEyY2JlOGE0LWY1NWMtNGI0MC04NWJiLWQ4ZTE0MDVlN2I4NFwvZDlzcG5seC1hZTYyNzViNy04NjNlLTRkNWQtODI4OS0yYWExNGZiNTNmNDguZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CeqSJweFupT6kOSkl5A1mi2lkItTf1wU_XbcdOou9OU');
  background-size: cover;
  background-position: center;

  h2{
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    border-left: 8px solid black;
    background: $accent-color-gold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .row{
    padding: 30px;
  }

  .main-information{
    width: 65%;
    background: $tan-500-difuse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .title{
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    background: $eggplant;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
  }

  .description{
    // padding: 10px;
    box-shadow: 0px 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .tactics{
    // padding: 10px;
    box-shadow: 0px 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .character-list{
    // padding: 10px;
    box-shadow: 0px 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  ul{
    padding: 10px;
    list-style-type: none;
    background: $tan-100;
  }

  li{
    text-align: center;
  }

  p{
    padding: 20px;
    background: $tan-100;
  }
}
