// Specific CSS for your home-page
.block {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.whitext {
  color: #fff;
}

iframe {
  margin-top: 10px;
  max-width: 100%;
  height: 166px;
  border: none;
}

.home {
  position: relative;
  height: 100vh;
  background-color: $brown-500;
  padding: 50px;
  background-image: url('https://64.media.tumblr.com/aa2de240c7d3ad098645f29e1f8fe17c/tumblr_obylzfWQ4F1qbw2q1o1_1280.gifv');
  background-size: cover;
  background-repeat: no-repeat;
}


.main-title {
  font-size: 48px;
  margin-bottom: 20px;
  background-color: $raisin-black;
  align-items: center;
  border-radius: 20px;
  border: 2px solid $eggplant;
  text-align: center;
  margin-top: -47px;
  color: $slate-gray;
}

.home-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-block-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.home-block-text-container p {
  margin-right: 10px;
}


.home-block-left,
.home-block-midle,
.home-block-right {
  background-color: $charcoal;
  color: $light-blue;
  padding: 20px;
  width: calc((100% - 100px) / 3); /* distribute the blocks equally */
  margin-bottom: 20px;
  border-radius: 20px;
  margin: 0 10px 0 10px; /* add margin to the sides */
  display: flex; /* add display flex to align the content */
  flex-direction: column; /* set flex direction to column */
  justify-content: flex-end; /* align the content to the bottom */
  border: 2px solid $eggplant;
}

.home-block-left h2,
.home-block-midle h2,
.home-block-right h2 {
  font-size: 36px; //changed to see how it looks on pirata
  margin-bottom: 10px;
  text-align: left; /* align the text to the left */
  font-weight: bold;
}

.home-block-left p, //temporary
.home-block-midle p,
.home-block-right p {
  font-size: 18px;
}

.content h2{  //temporary
  font-size: 62px;
}

.content p{  //temporary
  font-size: 36px;
}

.home-button p{
  font-size: 36px;
}

.home-banner {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
  color: $byzantium;
  font-weight: bold;

  .content {
    backdrop-filter: blur(2px);
    position: relative;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    background:  rgba(0, 0, 0, 0.356);
    border-radius: 20px;
    padding-bottom: 20px;
  }
}
