.images-index-container{
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12cbe8a4-f55c-4b40-85bb-d8e1405e7b84/davv7gx-93b2ca3c-709b-40ee-9578-33eb6b2d2847.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEyY2JlOGE0LWY1NWMtNGI0MC04NWJiLWQ4ZTE0MDVlN2I4NFwvZGF2djdneC05M2IyY2EzYy03MDliLTQwZWUtOTU3OC0zM2ViNmIyZDI4NDcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CW30npr2fpQ8NaVjm544amIGAPEtrH7ocuV6VUbh2XY');
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;

  .all-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    margin: 10px;
    background-color: $tan-300-difuse;
    border: 5px solid $eggplant;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    // background-color: $tan-300-difuse;
    // border: 5px solid $eggplant;
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    // border-bottom-left-radius: 20px;
    // border-bottom-right-radius: 20px;
  }

  .home-button{
    text-align: center;
    width: 100%;
    margin: 30px;
  }

  .row{
    width: 100%;
    // margin: 0;
    .art-card{
      height: 750px;
      display: flex;
      justify-content: center;
      // padding: 30px;

      a {
        display: flex;
        justify-content: center;
        width: 100%;
        text-decoration: none; /* removes underline */
        color: inherit; /* inherits color from parent */
        border: none; /* removes any default border */
        outline: none; /* removes focus outline */
      }



      .image-card{
        display: flex;
        align-items: flex-end;
        width: 90%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        box-shadow: 0px 0px 10px;

        h1 {
          margin-top: 10px;
          text-align: center;
        }

        .card-header{
          display: flex;
          justify-content: center;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.25);
          backdrop-filter: blur(5px);
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }

      .image-card:hover {
        // opacity: 0.7;
        transform: scale(1.15);
      }
    }
  }

  .description-container{
    margin-top: 60px;
    width: 100%;
    p {
      margin: 0;
    }
  }
}
