.background-character {
  position: relative;
  height: 100vh;
  background-color: $brown-500;
  padding: 50px;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('https://64.media.tumblr.com/aa2de240c7d3ad098645f29e1f8fe17c/tumblr_obylzfWQ4F1qbw2q1o1_1280.gifv');
  background-size: cover;
  background-repeat: no-repeat;
}

.container-character {
  width: 360px;
  height: 400px;
  margin: 8% auto;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.character-form {
text-align: center;
margin-bottom: 40px;
color: #777;
font-size: 32px;
margin-top: -40px;
}

.container-character form {
  width: 280px;
  position: absolute;
  top: 100px;
  left: 40px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

form input{
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

::placeholder {
  color: #777;
}

.btn-box-next {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

form button {
  width: 110Px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to right, #00c6fd, #000dff);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

#Form2 {
  left: 450px;
}

#Form3 {
  left: 450px;
}

.step-row {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}

.step-col {
  width: 120px;
  text-align: center;
  color: #333;
  position: relative;
}

#progress {
  position: absolute;
  height: 100%;
  width: 120px;
  background: linear-gradient(to right, #00c6fd, #000dff);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

#progress::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #000dff;
}
