.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  .header{
    width: 75%;
  }
  .spell-container{
    border: solid 1px black;
    border-top: solid 10px black;
    padding: 25px;
    width: 75%;
    .spell-info{
      // padding: 15px;
      .info{
        padding-bottom: 10px;
        p{
          // margin-top: 5px;
          // margin-bottom: 5px;
          // text-align: center;
          margin: 0;
        }
      }
    }
    .description{
      padding-top: 10px;
      border-top: solid 5px black;
    }
  }
}
