<div class="footer">
  <button class="footer-button">
    <div class="username">
      <a href="https://github.com/estebanhuwel">
        <div style="display: flex; align-items: center;">
          <img src="https://cdn-icons-png.flaticon.com/512/5968/5968866.png" alt="Esteban's profile picture" style="height: 40px; width: 40px;">
          <span style="margin-left: 5px;">Esteban</span>
        </div>
      </a>
    </div>
  </button>

  <button class="footer-button">
    <div class="username">
      <a href="https://github.com/thiseas16">
        <div style="display: flex; align-items: center;">
          <img src="https://cdn-icons-png.flaticon.com/512/5968/5968866.png" alt="Thiseas's profile picture" style="height: 40px; width: 40px;">
          <span style="margin-left: 5px;">Thiseas </span>
        </div>
      </a>
    </div>
  </button>

  <button class="footer-button">
    <div class="username">
      <a href="https://github.com/Vancz123">
        <div style="display: flex; align-items: center;">
          <img src="https://cdn-icons-png.flaticon.com/512/5968/5968866.png" alt="Gabriel's profile picture" style="height: 40px; width: 40px;">
          <span style="margin-left: 5px;">Gabriel</span>
        </div>
      </a>
    </div>
  </button>
</div>
