<div class="footer">
  <button class="footer-button">
   <div class="username"><a href="https://github.com/estebanhuwel">@esteban</a></div>
  </button>
  <button class="footer-button">
      <div class="username"><a href="https://github.com/thiseas16">@thiseas16</a></div>
  </button>
  <button class="footer-button">
    <div class="username"><a href="https://github.com/Vancz123">@Vancz123</a></div>
  </button>
</div>
