<div class="navbar navbar-expand-sm navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div style= 'display: flex; justify-content: space-between;'>
        <ul class="navbar-nav me-auto">
          <%= link_to root_path do %>
            <div class = 'logo'>
              <img src="https://media.tenor.com/QzbsNWVr6zMAAAAi/jp-james-perrett.gif" alt="">
              <h4>DnDummy</h4>
            </div>
          <% end %>
          <button class="navbar-button">Button to edit</button>
          <button class="navbar-button">Button to edit</button>
          <button class="navbar-button">Button to edit</button>
          <button class="navbar-button">Button to edit</button>
        </ul>
      </div>
    </div>
</div>
