<div data-controller="notification" data-notification-target="notification" id="notification" class="invisible_set">
  <a href="javascript:void(0)" data-action = "click->notification#close" class="close">
  </a>
  <div class="header">
    <h2>ALERT</h2>
  </div>
  <a data-notification-target="redirect" href="">
    <div class="message">
      <p data-notification-target="message">TEST DESCRIPTION. The job has finished. Click to redirect.</p>
    </div>
    </a>
</div>
