<div class="trait-home">
  <div class="catching-phrase">
    <h1 class="main-title">Welcome to DnDummy</h1>
  </div>
  <div class="traits-container">
    <% @equipment.each do |e| %>
      <%= link_to e.name, equipment_show_path(e)  %>
    <% end %>
  </div>
      <%= link_to "Back", handbook_path, class: 'back-button'%>
</div>
