<div class="trait-home">
  <div class="catching-phrase">
    <h1 class="main-title">Welcome to DnDummy</h1>
  </div>
  <div class="traits-container">
    <% @proficiencies.each do |p| %>
      <%= link_to p.name, proficiencies_show_path(p)  %>
    <% end %>
  </div>
      <%= link_to "Back", handbook_path, class: 'back-button'%>
</div>
