<div class="about-section">
  <h1 class= "about-title">About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>

  <h2 class= "about-team">Our Team</h2>
  <div class="row-about">
    <div class="column-about">
      <div class="card-about">
        <%= image_tag "https://res.cloudinary.com/dnorlz2hl/image/upload/v1679143304/thiseas_alrkan.jpg", class: "thiseas" %>
        <div class="container-about">
          <h2>Thiseas</h2>
          <p class="title-about">Back-end Enthusiast</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>email@example.com</p>
          <p><button class="button-about">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column-about">
      <div class="card-about">
        <%= image_tag "https://res.cloudinary.com/dnorlz2hl/image/upload/v1679143306/esteban_jbq3in.jpg", class: "esteban" %>
        <div class="container-about">
          <h2>Esteban</h2>
          <p class="title-about">Fullstack Fanatic</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>email@example.com</p>
          <p><button class="button-about">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column-about">
      <div class="card-about">
        <%= image_tag "https://res.cloudinary.com/dnorlz2hl/image/upload/v1679143315/gabe_nzk06m.png", class: "gabe" %>
        <div class="container-about">
          <h2>Gabriel</h2>
          <p class="title-about">Front-end Enjoyer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>email@example.com</p>
          <p><button class="button-about">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
