<div class="about-section">
  <h1 class= "about-title">About Us</h1>
  <div style="display: flex; justify-content: center;">
    <div style="width: 65%;">
      <p>DnDummy is an all-in-one tool for Dungeons and Dragons players, providing a comprehensive set of features to enhance the gameplay experience. With its intuitive interface, users can easily manage their characters, access a comprehensive handbook, and generate high-quality images using advanced AI technology.</p>
      <p>One of the standout features of DnDummy is its ability to randomly generate characters with unique attributes and abilities. By specifying certain parameters such as race, class, and background, users can create fully fleshed-out characters and diversify their gaming experiences. The tool also includes a spell database and progress tracker, allowing players to easily keep track of their character's accomplishments and advancement.</p>
      <p>Overall, DnDummy is an indispensable resource for both novice and experienced players, providing endless opportunities for creativity and enhancing the gameplay experience. Whether you're looking for inspiration for new character concepts or simply want to manage your characters more efficiently, DnDummy has everything you need to take your gaming to the next level.</p>

    </div>
  </div>
  <h2 class= "about-team">Our Team</h2>
  <div class="row-about">
    <div class="column-about">
      <div class="card-about">
        <%= image_tag "https://res.cloudinary.com/dnorlz2hl/image/upload/v1679143304/thiseas_alrkan.jpg", class: "thiseas" %>
        <div class="container-about">
          <h2>Thiseas</h2>
          <p class="title-about">Back-end Enthusiast</p>
          <p>Thiseas is a highly skilled back-end developer with a passion for data management and server-side programming. He excels at building scalable web applications that can handle large amounts of data.</p>
          <p>thiseas@example.com</p>
          <p><button class="button-about">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column-about">
      <div class="card-about">
        <%= image_tag "https://res.cloudinary.com/dnorlz2hl/image/upload/v1679143306/esteban_jbq3in.jpg", class: "esteban" %>
        <div class="container-about">
          <h2>Esteban</h2>
          <p class="title-about">Fullstack Fanatic</p>
          <p>Esteban is a versatile Fullstack developer with a wealth of knowledge and experience in both front-end and back-end development. She is able to work on all aspects of web application development and deliver high-quality results.</p>
          <p>esteban@example.com</p>
          <p><button class="button-about">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column-about">
      <div class="card-about">
        <%= image_tag "https://res.cloudinary.com/dnorlz2hl/image/upload/v1679143315/gabe_nzk06m.png", class: "gabe" %>
        <div class="container-about">
          <h2>Gabriel</h2>
          <p class="title-about">Front-end Enjoyer</p>
          <p>Gabriel is a talented front-end developer with a focus on creating visually appealing interfaces and seamless user experiences. He has a strong eye for design and is passionate about creating engaging web applications.</p>
          <p>gabriel@example.com</p>
          <p><button class="button-about">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
