<div class="home">
   <h1>Welcome to DnDummy</h1>
   <div class="home-block">
   <div class="home-block-left">
     <h1>Left Block Title</h1>
     <h2>Left Block Subtitle</h2>
     <button class="home-button">Left Block Button</button>
   </div>
   <div class="home-block-right">
     <h1>Right Block Title</h1>
     <h2>Right Block Subtitle</h2>
     <button class="home-button">Right Block Button</button>
   </div>
   </div>
 </div>
