 <%# <div class="block">
      <p class="whitext">In the mood for some music? click down below:</p>
      <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/32124663&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true" width="100%" height="166" frameborder="no" scrolling="no"></iframe>
  </div> %>

  <div class="home">
  <div class="catching-phrase">
   <h1 class="main-title">Welcome to DnDummy</h1>
  </div>

  <div class="home-banner">
   <div class="content">
      <h2>Start a new<br>Journey</h2>
      <p class="slogan">Learn, Play & Repeat </p>
      <%= link_to 'Join Now',  new_user_registration_path, class: 'home-button' %>
    </div>
  </div>

  <div class="home-block">
   <div class="home-block-left">
     <h2>Create your Character</h2>
     <div class="home-block-text-container">
       <p>No matter if you know what you want, use this tool to fill your wildest dreams</p>
       <button class="home-button">Create</button>
     </div>
   </div>
   <div class="home-block-midle">
     <h2>Use our Handbook</h2>
     <div class="home-block-text-container">
       <p>Read a little bit more before playing</p>
       <%= link_to 'Read', handbook_path, class: 'home-button' %>
     </div>
   </div>
      <div class="home-block-right">
     <h2>Style your Journey</h2>
     <div class="home-block-text-container">
       <p>Time to add some visualization to your Campaign</p>
       <button class="home-button">Style</button>
     </div>
   </div>
  </div>
</div>
