// CLASSES INDEX

.class{
  border-radius: 5px;
  position: relative;
  background: rgb(233, 201, 86);
  // background-image: url('https://www.seekpng.com/png/full/141-1413984_barbarian-d-d-barbarian.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 15px;
  margin: 10px;
  .information{
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.25); /* 50% transparent white */
    backdrop-filter: blur(5px); /* add a blur effect */
    .name{
      display: flex;
      img{
        height: 50px;
        width: 50px;
        size: cover;
      }
    }
  }

  .button{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: bottom;
    margin-top: 10px;
  }
}
