.description-container {
  flex: 3;
  width: 75%;
  border-radius: 20px;
  padding: 10px;

  h2 {
    background-color: $eggplant;
    color: white;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 0;
  }

  p {
    background-color: $tan-100;
    padding: 20px;
  }

}
