.footer {
  // margin-top: auto;
  // top: 0;
  background-color:$space-cadet;
  display: flex;
  align-items: center;
  transition: 0.5s;
  z-index: 1000;
  // padding-bottom: 20px;
  // padding-top: 20px;
  color: #D6C8B6;
}
