.footer {
  // margin-top: auto;
  // top: 0;
  position: absolute;
  bottom: 0;
  // background-color:rgb(30, 29, 29);
  background-color: $footer;
  display: flex;
  align-items: center;
  transition: 0.5s;
  // z-index: 1000;
  // padding-bottom: 20px;
  // padding-top: 20px;
  color: #D6C8B6;
  width: 100%;
  height: 5rem;
}
