<div class="campaign-home">
    <div class="catching-phrase">
    <h1 class="main-title">Welcome to our Campaigns!</h1>
    </div>


<div class="page-container-index">
  <div class="container-card">
    <div class="frame5">
      <div class="rectangle3">
      Title
      </div>
        <div class="rectangle4">
        5 ⭐
        </div>
        <div class="rectangle5">
        Description
        </div>
      </div>
    </div>

  <div class="container-card">
    <div class="frame5">
      <div class="rectangle3">
      Title
      </div>
        <div class="rectangle4">
        5 ⭐
        </div>
        <div class="rectangle5">
        Description
        </div>
      </div>
    </div>

  <div class="container-card">
    <div class="frame5">
      <div class="rectangle3">
      Title
      </div>
        <div class="rectangle4">
        5 ⭐
        </div>
        <div class="rectangle5">
        Description
        </div>
      </div>
    </div>

    <div class="container-card">
    <div class="frame5">
      <div class="rectangle3">
      Title
      </div>
        <div class="rectangle4">
        5 ⭐
        </div>
        <div class="rectangle5">
        Description
        </div>
      </div>
    </div>

    <div class="container-card">
    <div class="frame5">
      <div class="rectangle3">
      Title
      </div>
        <div class="rectangle4">
        5 ⭐
        </div>
        <div class="rectangle5">
        Description
        </div>
      </div>
    </div>

    <div class="container-card">
    <div class="frame5">
      <div class="rectangle3">
      Title
      </div>
        <div class="rectangle4">
        5 ⭐
        </div>
        <div class="rectangle5">
        Description
        </div>
      </div>
    </div>
</div>
</div>
