<div class = "campaign-show-container" data-controller="campaign-description-change">
  <div class = "row">
    <div class = "campaign-card col-6">
      <a href="<%= campaign_dice_path(@campaign) %>">
        <div data-action= "mouseover->campaign-description-change#change1" class = "card-image dice" style = "background-image: url('https://res.cloudinary.com/dnorlz2hl/image/upload/v1679083294/dnd_dice_oyhh2l.jpg')">
          <div class = "card-header">
            <h1>Dice Roller</h1>
          </div>
        </div>
      </a>
    </div>

    <div class = "campaign-card col-6">
      <a href="<%= campaign_images_path(@campaign) %>">
        <div data-action= "mouseover->campaign-description-change#change2" class = "card-image art" style = "background-image: url('https://res.cloudinary.com/dnorlz2hl/image/upload/v1679012948/development/mnba16yzbq76apdpxju0fq0jq3cl.png')">
          <div class = "card-header">
            <h1>Generate Art</h1>
          </div>
        </div>
      </a>
    </div>

    <div class = "campaign-card col-6">
      <a href="<%= campaign_characters_path(@campaign) %>">
        <div data-action= "mouseover->campaign-description-change#change3" class = "card-image characters" style = "background-image: url('https://res.cloudinary.com/dnorlz2hl/image/upload/v1679083299/dnd_characters_nyu1hz.jpg')">
          <div class = "card-header">
            <h1>Characters</h1>
          </div>
        </div>
      </a>
    </div>

    <div class = "campaign-card col-6">
        <a href="<%=campaign_encounters_path(@campaign) %>">
          <div data-action= "mouseover->campaign-description-change#change4" class = "card-image encounters" style = "background-image: url('https://res.cloudinary.com/dnorlz2hl/image/upload/v1679084705/dnd-encounter_ybt6c5.webp')">
            <div class = "card-header">
              <h1>Encounters</h1>
            </div>
            <div class = "under-construction">
              <h1>UNDER CONSTRUCTION</h1>
            </div>
          </div>
      </a>
    </div>
  </div>
  <div class="description-container">
    <div class = "description">
      <h2 style = "text-align: center;" data-campaign-description-change-target="header">Roll The Dice</h2>
      <p data-campaign-description-change-target="description">Roll the dice and test your luck! With our easy-to-use dice roller, you can roll any combination of dice quickly and easily. Choose the number of dice and the number of sides, and let the RNG gods decide your fate. Whether you're playing solo or with a group, our dice roller will make sure you're always ready for whatever adventure awaits. Plus, our user-friendly interface allows you to save your rolls for future use or easily reroll if needed.</p>
    </div>
  </div>
</div>
