<div class="form-div-portrait">
  <div class="new-somtehing-form">
    <%= simple_form_for [@campaign, @image] do |f| %>
      <%= f.input :prompt %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
